{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Name, Author and Price</h2>
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <label> Name </label><input type="text" name="name" value="{{ .Name }}"  /><br />
      <label> Author </label><input type="text" name="author" value="{{ .Author }}"  /><br />
      <label> Price </label><input type="text" name="price" value="{{ .Price }}"  /><br />
      <input type="submit" value="UPDATE" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}

