{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Enter New Book Details</h2>
    <form method="POST" action="insert">
      <label> Name </label><input type="text" name="name" /><br />
      <label> Author </label><input type="text" name="author" /><br />
      <label> Price </label><input type="text" name="price" /><br />
      <input type="submit" value="ADD BOOK" />
    </form>
  {{ template "Footer" }}
{{ end }}

